/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #F2F2F2;
}

header {
    background-color: #004080;
    color: white;
}

.logo img {
    width: 150px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 20px;
}

.hero-image {
    width: 100%;
    height: auto;
}

.cta-button {
    display: inline-block;
    background-color: #E67E22;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* Main Content */
.home-content {
    padding: 20px;
}

/* Weather Section */
.weather {
    margin-top: 20px;
}

#weather-data {
    font-size: 1.2em;
}

/* Spotlights Section */
.spotlights {
    margin-top: 20px;
}

#spotlight-container {
    display: flex;
    flex-wrap: wrap;
}

/* Footer */
footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.social-media img {
    width: 30px;
    margin: 0 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 10px;
    }
}
