/* Mobile View */
@media (max-width: 768px) {

    #directory-container {
        grid-template-columns: 1fr;
    }

    header nav ul li {
        display: block;
        text-align: center;
        margin: 10px 0;
    }

    .view-toggle {
        justify-content: center;
    }
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 1024px) {

    #directory-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .view-toggle {
        justify-content: space-between;
    }
}

/* Large Desktop View */
@media (min-width: 1025px) {

    #directory-container {
        grid-template-columns: repeat(3, 1fr);
    }

    header nav ul li {
        display: inline-block;
    }
}
