@media screen and (max-width: 768px) {
    header nav ul {
        display: block;
        padding: 0;
    }

    header nav ul li {
        display: block;
        margin: 10px 0;
    }

    .view-toggle {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }

    .view-btn {
        margin: 0 5px;
    }

    #directory-container {
        display: flex;
        flex-direction: column;
    }

    .member-card {
        margin-bottom: 20px;
    }
}
