* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    font-family: Roboto, Arial, sans-serif;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 3px 3px 5px #777;
}

.herodiv {
    margin: 10px auto;
    position: relative; /* If removed, what happens? */
}

.herodiv img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.stats {
    position: absolute;
    top: 25px;
    right: 15px;
    background: radial-gradient(#eee, #4567aa);
    border: 1px solid #000;
    padding: 0.65rem;
    box-shadow: 0 0 30px #111;
    opacity: 0.9;
}

h3 {
    text-shadow: 0 0 15px #333;
    margin-bottom: 0.5rem;
}

.membership-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 1rem;
}

.card {
    flex: 1 1 calc(25% - 1rem); /* Responsive cards */
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.card h4 {
    margin-bottom: 0.5rem;
}

.card button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background-color: #0056b3;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 1rem;
    border-top: 1px solid #000;
    padding: 0.5rem;
    color: navy;
    font-weight: 700;
    font-style: italic;
    text-align: center;
}
